In [1]:
import pandas as pd

In [5]:
wd = pd.read_excel("C:\\Users\\badal\\Untitled Folder\\weather_data.xlsx")

In [6]:
wd

    Unnamed: 0        day     city  temperature  windspeed   event
0            0 2025-01-01  newyork           32          6   rainy
1            1 2025-01-02  newyork           36          7   sunny
2            2 2025-01-03  newyork           28         12    snow
3            3 2025-01-04  newyork           33          7   sunny
4            4 2025-01-01   mumbai           90          5   sunny
5            5 2025-01-02   mumbai           85         12     fog
6            6 2025-01-03   mumbai           87         15     fog
7            7 2025-01-04   mumbai           92          5   rainy
8            8 2025-01-01    paris           45         20   sunny
9            9 2025-01-02    paris           50         13  cloudy
10          10 2025-01-03    paris           54          8  cloudy
11          11 2025-01-04    paris           52         10  cloudy

In [8]:
wd.values

array([[0, Timestamp('2025-01-01 00:00:00'), 'newyork', 32, 6, 'rainy'],
       [1, Timestamp('2025-01-02 00:00:00'), 'newyork', 36, 7, 'sunny'],
       [2, Timestamp('2025-01-03 00:00:00'), 'newyork', 28, 12, 'snow'],
       [3, Timestamp('2025-01-04 00:00:00'), 'newyork', 33, 7, 'sunny'],
       [4, Timestamp('2025-01-01 00:00:00'), 'mumbai', 90, 5, 'sunny'],
       [5, Timestamp('2025-01-02 00:00:00'), 'mumbai', 85, 12, 'fog'],
       [6, Timestamp('2025-01-03 00:00:00'), 'mumbai', 87, 15, 'fog'],
       [7, Timestamp('2025-01-04 00:00:00'), 'mumbai', 92, 5, 'rainy'],
       [8, Timestamp('2025-01-01 00:00:00'), 'paris', 45, 20, 'sunny'],
       [9, Timestamp('2025-01-02 00:00:00'), 'paris', 50, 13, 'cloudy'],
       [10, Timestamp('2025-01-03 00:00:00'), 'paris', 54, 8, 'cloudy'],
       [11, Timestamp('2025-01-04 00:00:00'), 'paris', 52, 10, 'cloudy']],
      dtype=object)

In [10]:
wd.dtypes

Unnamed: 0              int64
day            datetime64[ns]
city                   object
temperature             int64
windspeed               int64
event                  object
dtype: object

In [12]:
wd.size

72

In [13]:
wd.memory_usage()

Index          132
Unnamed: 0      96
day             96
city            96
temperature     96
windspeed       96
event           96
dtype: int64

In [23]:
wd.describe()

       Unnamed: 0  temperature  windspeed
count   12.000000    12.000000  12.000000
mean     5.500000    57.000000  10.000000
std      3.605551    24.694497   4.572646
min      0.000000    28.000000   5.000000
25%      2.750000    35.250000   6.750000
50%      5.500000    51.000000   9.000000
75%      8.250000    85.500000  12.250000
max     11.000000    92.000000  20.000000

**iloc is used to access the row based on the index syntax**

In [24]:
wd.iloc[0]

Unnamed: 0                       0
day            2025-01-01 00:00:00
city                       newyork
temperature                     32
windspeed                        6
event                        rainy
Name: 0, dtype: object

In [25]:
wd.iloc[0:6]

   Unnamed: 0        day     city  temperature  windspeed  event
0           0 2025-01-01  newyork           32          6  rainy
1           1 2025-01-02  newyork           36          7  sunny
2           2 2025-01-03  newyork           28         12   snow
3           3 2025-01-04  newyork           33          7  sunny
4           4 2025-01-01   mumbai           90          5  sunny
5           5 2025-01-02   mumbai           85         12    fog

In [26]:
wd.iloc[[1,2]]

   Unnamed: 0        day     city  temperature  windspeed  event
1           1 2025-01-02  newyork           36          7  sunny
2           2 2025-01-03  newyork           28         12   snow

In [27]:
wd.temperature

0     32
1     36
2     28
3     33
4     90
5     85
6     87
7     92
8     45
9     50
10    54
11    52
Name: temperature, dtype: int64

In [31]:
wd[["city","temperature"]]

       city  temperature
0   newyork           32
1   newyork           36
2   newyork           28
3   newyork           33
4    mumbai           90
5    mumbai           85
6    mumbai           87
7    mumbai           92
8     paris           45
9     paris           50
10    paris           54
11    paris           52

In [32]:
wd["temperature"].max() # for pulling out the maximum temperature

92

In [34]:
wd["event"][wd["event"] == "rainy"] #for the

0    rainy
7    rainy
Name: event, dtype: object

In [36]:
wd["windspeed"].mean() #for finding the average windspeed of the weather

10.0

In [37]:
wd[wd["temperature"]==wd["temperature"].max()]

   Unnamed: 0        day    city  temperature  windspeed  event
7           7 2025-01-04  mumbai           92          5  rainy

In [38]:
wd[wd["temperature"]==wd["temperature"].min()]

   Unnamed: 0        day     city  temperature  windspeed event
2           2 2025-01-03  newyork           28         12  snow

In [42]:
wd[["day"]wd["temperature"]]==wd["temperature"].max()]]

SyntaxError: unmatched ']' (1611096630.py, line 1)

In [43]:
g= wd.groupby("city")

In [44]:
g

In [45]:
g.groups

{'mumbai': [4, 5, 6, 7], 'newyork': [0, 1, 2, 3], 'paris': [8, 9, 10, 11]}

In [46]:
for city, wd_city in g:
    print(city)
    print(wd_city)

mumbai
   Unnamed: 0        day    city  temperature  windspeed  event
4           4 2025-01-01  mumbai           90          5  sunny
5           5 2025-01-02  mumbai           85         12    fog
6           6 2025-01-03  mumbai           87         15    fog
7           7 2025-01-04  mumbai           92          5  rainy
newyork
   Unnamed: 0        day     city  temperature  windspeed  event
0           0 2025-01-01  newyork           32          6  rainy
1           1 2025-01-02  newyork           36          7  sunny
2           2 2025-01-03  newyork           28         12   snow
3           3 2025-01-04  newyork           33          7  sunny
paris
    Unnamed: 0        day   city  temperature  windspeed   event
8            8 2025-01-01  paris           45         20   sunny
9            9 2025-01-02  paris           50         13  cloudy
10          10 2025-01-03  paris           54          8  cloudy
11          11 2025-01-04  paris           52         10  cloudy

In [49]:
#Find the maximum temperature in each cities 
max_temps = wd.groupby("city")["temperature"].max()
print(max_temps)

city
mumbai     92
newyork    36
paris      54
Name: temperature, dtype: int64

In [50]:
g.mean()

C:\Users\badal\AppData\Local\Temp\ipykernel_2100\2978112660.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.mean()

         Unnamed: 0  temperature  windspeed
city
mumbai          5.5        88.50       9.25
newyork         1.5        32.25       8.00
paris           9.5        50.25      12.75

In [53]:
g.temperature.mean()

city
mumbai     88.50
newyork    32.25
paris      50.25
Name: temperature, dtype: float64

In [54]:
wd.isnull()

    Unnamed: 0    day   city  temperature  windspeed  event
0        False  False  False        False      False  False
1        False  False  False        False      False  False
2        False  False  False        False      False  False
3        False  False  False        False      False  False
4        False  False  False        False      False  False
5        False  False  False        False      False  False
6        False  False  False        False      False  False
7        False  False  False        False      False  False
8        False  False  False        False      False  False
9        False  False  False        False      False  False
10       False  False  False        False      False  False
11       False  False  False        False      False  False

In [55]:
wd.isnull().sum()

Unnamed: 0     0
day            0
city           0
temperature    0
windspeed      0
event          0
dtype: int64

In [57]:
wd.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [58]:
wd.drop(columns = ["Unnamed: 0"],inplace = True)

In [59]:
wd

          day     city  temperature  windspeed   event
0  2025-01-01  newyork           32          6   rainy
1  2025-01-02  newyork           36          7   sunny
2  2025-01-03  newyork           28         12    snow
3  2025-01-04  newyork           33          7   sunny
4  2025-01-01   mumbai           90          5   sunny
5  2025-01-02   mumbai           85         12     fog
6  2025-01-03   mumbai           87         15     fog
7  2025-01-04   mumbai           92          5   rainy
8  2025-01-01    paris           45         20   sunny
9  2025-01-02    paris           50         13  cloudy
10 2025-01-03    paris           54          8  cloudy
11 2025-01-04    paris           52         10  cloudy

In [63]:
wd.rename(columns = {"day":"date"},inplace = True)

In [64]:
wd

         date     city  temperature  windspeed   event
0  2025-01-01  newyork           32          6   rainy
1  2025-01-02  newyork           36          7   sunny
2  2025-01-03  newyork           28         12    snow
3  2025-01-04  newyork           33          7   sunny
4  2025-01-01   mumbai           90          5   sunny
5  2025-01-02   mumbai           85         12     fog
6  2025-01-03   mumbai           87         15     fog
7  2025-01-04   mumbai           92          5   rainy
8  2025-01-01    paris           45         20   sunny
9  2025-01-02    paris           50         13  cloudy
10 2025-01-03    paris           54          8  cloudy
11 2025-01-04    paris           52         10  cloudy

In [65]:
wd1 = wd.loc[wd["city"]=="paris"]

In [66]:
wd1

         date   city  temperature  windspeed   event
8  2025-01-01  paris           45         20   sunny
9  2025-01-02  paris           50         13  cloudy
10 2025-01-03  paris           54          8  cloudy
11 2025-01-04  paris           52         10  cloudy

In [67]:
wd[wd["city"]=="paris"]

         date   city  temperature  windspeed   event
8  2025-01-01  paris           45         20   sunny
9  2025-01-02  paris           50         13  cloudy
10 2025-01-03  paris           54          8  cloudy
11 2025-01-04  paris           52         10  cloudy

In [70]:
wd2 = wd.loc[wd["city"]=="newyork"]

In [71]:
wd2

        date     city  temperature  windspeed  event
0 2025-01-01  newyork           32          6  rainy
1 2025-01-02  newyork           36          7  sunny
2 2025-01-03  newyork           28         12   snow
3 2025-01-04  newyork           33          7  sunny

In [72]:
wd3 = wd.loc[wd["city"]=="mumbai"]

In [73]:
wd3

        date    city  temperature  windspeed  event
4 2025-01-01  mumbai           90          5  sunny
5 2025-01-02  mumbai           85         12    fog
6 2025-01-03  mumbai           87         15    fog
7 2025-01-04  mumbai           92          5  rainy

In [74]:
dff = pd.concat([wd1,wd2,wd3],ignore_index = True)

In [75]:
dff

         date     city  temperature  windspeed  event
0  2025-01-01  newyork           32          6  rainy
1  2025-01-02  newyork           36          7  sunny
2  2025-01-03  newyork           28         12   snow
3  2025-01-04  newyork           33          7  sunny
4  2025-01-01  newyork           32          6  rainy
5  2025-01-02  newyork           36          7  sunny
6  2025-01-03  newyork           28         12   snow
7  2025-01-04  newyork           33          7  sunny
8  2025-01-01   mumbai           90          5  sunny
9  2025-01-02   mumbai           85         12    fog
10 2025-01-03   mumbai           87         15    fog
11 2025-01-04   mumbai           92          5  rainy